.cpWrapper{
	
	/*border: 1px solid rgba(0, 0, 0, .25);*/

	background-color: #FFF;

	margin-right: auto;
	margin-left: auto;
	/*margin-bottom: 25px;*/

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	padding: 25px 20px;

	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.18);
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,0.18);
	box-shadow: 0 1px 8px rgba(0,0,0,0.18);
}

.cpWrapperWrapper{
	background-color: #FFF;
	/*border-bottom: 1px solid #d1d1d1;*/
	/* border-top: 1px dashed #d1d1d1; */
	margin-bottom: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
}



.mainWrapper{
	padding-top: 0px;
	padding-bottom: 20px;
}

.tyheadlineArea{
	text-align: left;
	padding-top: 0 !important;
}

.cpDateUnder{
	border-top: 1px solid rgba(0, 0, 0, .10);
	margin-top: 0px;
	padding-top: 20px;
	font-size: 14px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}

.cpDateUnder i{
	margin-right: 5px;
}

.cpDateMth{
	color: rgba(0, 0, 0, .50);
}

.cpLeftSide{
	/*background-color: #DDD;*/
	padding: 0;
	width: 48%;
}

.cpRightSide{
	width: 48%;
	margin-left: 4%;
	margin-top: 25px;
	/*background-color: #000;*/
}

@media screen and (max-width: 992px) {
	.cpLeftSide{
		width: 100%;
	}
	.cpRightSide{
		width: 100%;
		margin-left: 0;
	}
}

.optinHeadline{
	text-align: left;
	border-bottom: 1px solid rgba(0, 0, 0, .10);
	margin-bottom: 20px;
	padding-bottom: 20px;
}

	#optName{
		background-position: 410px;
	}

	#optEmail{
		background-position: 410px;
	}

	#optPhone{
		background-position: 410px;
	}

	#optSkype{
		background-position: 410px;
	}

	#optinBTN{
		width: 100%;
		text-align: center;
		/*background-image: none;*/
	}

.ctaArea{
	min-width: 0px;
	margin: 0px;
	border: 0px;
	/*background-color: #030201;*/
	margin-bottom: 20px;
	text-align: center;
}

.cpUnderHeadline{
	margin-top: 20px;
	margin-right: -5px;
	margin-left: -5px;
	background-color: #F1F1F1;
	padding: 20px;
	/*border: 1px solid rgba(0, 0, 0, .10);*/
	/*border-bottom: 1px solid rgba(0, 0, 0, .10);*/
	font-weight: bold;

	/*padding-left: 20px;
	padding-right: 40px;*/
}

.cpUnderCopy{
	overflow: hidden;
	padding: 30px 0;
}

.cpCopyArea{
	width: 100%;
}
.cpHostBlock{

}

.cpCopyTY{
	float: right;
	width: 410px;
}

.hostInfoCopy{
	width: 307px;
}

.cpHostBlock{
	margin-top: -10px;
}

.ticketWrapper{
	margin: 0px;
	padding: 24px;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid rgba(0, 0, 0, .15);
	color: #191919;
	border: 1px dashed rgba(0,0,0,0.4);
	display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}
.ticketSection{
	color: #191919;
}

.disabled{
	background-color: #bfbfbf !important;
	border: 1px solid #5d5d5d !important;
	color: #000 !important;;
}
.ticketHeadline{
	background-color: #2f2f2f;
}

.cpWebinarURL{
	width: 410px;
	margin-left: 20px;
	background-color: #bddfff;
	color: #1a406c;
	padding: 15px;
	margin-top: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-bottom: 3px solid rgba(0, 0, 0, .20);
}

.addCalendar{
	margin: 0px;
	background-color: #EEEEEE;
}

.phoneReminder{
	/*padding-left: 25px;
	padding-right: 25px;
	margin-top: 20px;
	margin-bottom: 20px;*/
}

#optPhone{
	/*width: 327px;*/
}

.shareBlock{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	background-color: #FFF;
	padding-top: 0px;
}

.webinarURLArea{
	background-color: #e6e6e6;
	padding: 25px;
}

/* .ticketWrapper .eventDate{
	border: none;
	margin: 0px;
	padding: 0px;
} */

.eventDate{
	width: 100%;
}

.ticketInfoNew{
	/*background-color: #FFF;*/
	/* margin-right: -25px;
	margin-left: -25px; */
	/*margin-bottom: -25px;*/
	/* padding: 25px; */
	padding-top: 0px;
	margin-top: 15px;
	padding-bottom: 0px;
	/* border-top: 1px dashed #DDD; */
}

.ticketSectionx{
	margin-bottom: 15px;
}

.ticketInfoNewHeadline{
	font-size: 18px;
  margin-top: 3px;
  color: rgba(0,0,0,0.7);
}

.ticketInfoIcon{
	float: left;
	widows: 48px;
	color: #878787;
	width: 65px;
}

.ticketInfoCopy{
	float: left;
	margin-left: 14px;
	width: 320px;
}

.ticketInfoIcon2{
  float: left;
  color: #878787;
  width: 60px;
}

.ticketInfoCopy2{
	float: left;
	margin-left: 19px;
	width: 310px;
}

.ticketSectionNew{
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.ticketSection.ticketSectionNew.ts, .eventDate.ticketSectionNew.ts{
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 20px 10px;
    border-radius: 5px;
    margin-top: 10px;
    background: white !important;
}

.remindersBlock{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
}

.remindersBlock .small{
	font-size: 12px;
	margin-bottom: 15px;
}