
.cpWrapper{
	padding: 20px 0;
	box-shadow: none;
}

.headlineArea{
	padding: 0;
}

#storePhone{
	width: 100%;
}


@media screen and (max-width: 480px) {

	.salesWrapper{
		width: 320px;
	}
	.headlineArea{
		/* width: 300px; */
		/*padding-left: 20px;*/
		text-align: center;
	}
	.ctaRight{
		display: none !important;	
	}

	.bannerTop{
		width: 320px;
	}

	.bannerTop img{
		width: 320px;
	}

	.ctaRightMobile{
		display: block !important;
		margin-top: 15px;
	}

	#optName{
		background-position: 244px;
	}

	#optEmail{
		background-position: 244px;
	}

	#optinBTN{
		width: 278px;
		text-align: center;
		background-image: none;
	}

	.cpWrapper{
		/* width: 320px; */
		margin: 0 30px;
	}

	.ticketWrapper {
		padding: 20px;
	}

	.dateDayWeek{
		font-size: 9px !important;
		width: 50px !important;
	}
	.wi-btns-wrap{
		gap: 0px;
		flex-direction: column;
	}

	.cpDateUnder{
		width: 300px;
		padding-left: 20px;
	}

	.tyHeadlineIcon{
		/* display: none; */
		font-size: 10px;
	}

	.dateIcon{
		/* display: none; */
		width: 50px !important;
   		height: 50px !important;
		margin-left: 0 !important;

	}
	.dateMonth{
		font-size: 10px !important;
		width: 50px !important;
		line-height: 4px !important;
	}

	.dateDay{
		width: 50px !important;
		font-size: 14px !important;
		line-height: 15px !important;
	}

	.dateHeadline {
		font-size: 16px !important;
		padding-top: 14px !important;
	}
	.dateSubHeadline{
		font-size: 14px !important;
	}

	.dateInfo{
		padding-left: 10px !important;
	}

	.ticketInfoIcon{
		width: 50px;
		margin-left: 0px;
	}

	.ticketInfoIcon2{
		width: 50px;
		margin-left: 0px;
	}

	.thankyou_cp_preview .ticketInfoCopy p, .thankyou_cp_preview .ticketInfoCopy2 p {
		font-size: 16px;
	}
	.ticketInfoNewHeadline {
		font-size: 14px;
	}
	.ticketInfoCopy{
		margin-left: 10px;
		width: 70%;
	}

	.ticketInfoCopy2{
		margin-left: 10px;
		width: 70%;
	}

	.tyHeadlineCopy{
		margin-bottom: 20px;
	}



	.remindersBlock{
		padding:20px 0;
		margin-left: 0px;
	}

	.hostInfoCopy{
		width: 100%;
		float: none;
		/*padding-left: 15px;*/
	}
	.hostInfoPhoto{
		margin-right: 20px;
	}

	.cpHostBlock{
		width: 100%;
		float: none;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #DDD;
	}

	.cpCopyArea{
		float: none;
		width: 100%;
	}

	.cpRightSide{
		/*float: none;*/
		margin-top: 20px;
	}

	.ctaArea{
		/* width: 278px; */
		margin-left: 0px;
	}

	.optinHeadline{
		text-align: center;
	}

	.cpWebinarURL{
		width: 278px;
		margin-left: 0px;
	}

	.addCalendar{
		width: 278px;
		margin-left: 0px;
	}

	.phoneReminder{
		width: 278px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.phoneReminder .button{
		width: 100%;
	}

	.cpCopyTY{
		width: 228px;
	}

	#optPhone{
	}
}

@media (min-width: 490px) and (max-width: 820px) {

	.salesWrapper{
		width: 768px;
	}
	.headlineArea{
		/* width: 748px; */
		padding-left: 20px;
	}
	.ctaRight{
		display: none !important;	
	}

	.cpWrapper{
		/* width: 320px; */
		margin: 0 30px;
	}

	.bannerTop{
		width: 768px;
	}

	.bannerTop img{
		width: 768px;
	}

	.ctaRightMobile{
		display: block !important;
		margin-top: 15px;
	}



	/* .cpWrapper{
		width: 768px;
	} */

	.cpDateUnder{
		width: 748px;
		padding-left: 20px;
	}
	
	/* .cpLeftSide{
		width: 410px;
	} */

	/* .cpRightSide{
		width: 290px;
	} */

	/* .ctaArea{
		width: 290px;
	} */

	.hostInfoCopy{
		width: 620px;
	}

	.cpHostBlock{
		width: 100%;
		float: none;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #DDD;
	}

	.cpCopyArea{
		float: none;
		width: 100%;
	}

	.cpCopyTY{
		float: none;
		width: 100%;
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #DDD;
	}

	.addCalendar{
		width: 350px;
		float: left;
	}

	.phoneReminder{
		width: 310px;
		float: left;
		/*margin-left: 20px;*/
		margin-top: -10px;
	}

	.ticketInfoCopy{
		/*margin-left: 17px;*/
		width: 200px;
	}

	.ticketInfoCopy2{
		/*margin-left: 17px;*/
		width: 200px;
	}

}

@media (min-width: 768px){

    .ctaArea, .remindersBlock{
		margin-left: 10px;
    }

}
