body.webinarignition {
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    background-color: #F7F7F7;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

html .webinarignition {
    background-color: #F7F7F7;
}

.webinarignition .topArea {
    min-height: 89px;
    /*padding-top: 20px;*/
    background-color: #FFF;
    width: 100%;
    background-image: url(../images/console-repeater.png);
}

.webinarignition .consoleLogo {
    padding-top: 10px;
    /*margin-left: 30px;*/
    max-width: 870px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.webinarignition .consoleLogo img {
    max-height: 70px;
    width: auto;
}

.webinarignition .mainWrapper {
    width: 100%;
    /*background-color: #FFF;*/
    /*padding-bottom: 40px;*/
    border-top: 1px solid rgba(0, 0, 0, 0.20);
}

.webinarignition .questionHeadline {
    background-color: #E83F2A;
    padding: 12px;
    font-weight: bold;
    color: #FFF;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.20);
    filter: dropshadow(color=rgba(0, 0, 0, 0.20), offx=2, offy=2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.20);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.webinarignition .button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 15px;
}

.webinarignition .button i {
    margin-right: 5px;
}

.webinarignition .innerOuterContainer {
    width: 100%;
    border-top: 3px solid rgba(0, 0, 0, 0.10);
    padding-top: 10px;
}

.webinarignition .innerContainer {
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px 35px;
}

.innerContainer:after {
    content: " ";
    display: table;
    clear: both;
}

.webinarignition .activeQuestionsHeadline {
    background-color: #1F1F1F;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    border-top: 3px solid rgba(0, 0, 0, 0.35);
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    background-image: url(../../../images/noise.png);
    margin-top: -1px;
}

.webinarignition .statsTitleEvent {
    float: right;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    text-align: right;
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.41) !important;
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.41) !important;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.41) !important;
}

.webinarignition .lc-btn {
    background-color: #111111 !important;
    border: 1px dashed #464646 !important;
    color: #FFFFFF !important;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.41) !important;
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.41) !important;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.41) !important;
}

.webinarignition .lc-btn:hover {
    background-color: #252426 !important;
}

.webinarignition .questions {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.webinarignition .question {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.05);
}

.webinarignition .userImage {
    float: left;
    margin-right: 20px;
}

.webinarignition .userQuestion {
    float: left;
    width: 860px;
}

.webinarignition .answerBTN {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
}

.webinarignition .statsDashbord {
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
    padding-left: 20px;
    padding-right: 20px;
    /*margin-bottom: -16px;*/
    /*padding-bottom: 20px;*/
    background-color: #353437;
    /*border-top: 2px solid rgba(0,0,0,0.10);*/
    /*border-bottom: 1px solid rgba(0,0,0,0.10);*/
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
    border-top: 3px solid rgba(0, 0, 0, 0.05);
    background-image: url(../../../images/noise.png);
    /*background-repeat: no-repeat;*/
    /*background-position: 180px top;*/
    /*		width: 870px;
            margin-right: auto;
            margin-left: auto;*/
    /*text-align: center;*/
    /*padding-top: 7px;*/
}

.webinarignition .statsTitle {
    max-width: 870px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7px;
}

.webinarignition .statsTitle-Dash {
    background-image: url(../images/dashbg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.webinarignition .statsTitle-Air {
    background-image: url(../images/livebg2.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.webinarignition .statsTitle-Lead {
    background-image: url(../images/leadbg2.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.webinarignition .statsDashbord h2 {
    font-size: 22px;
    margin-bottom: 0px;
    color: #FFF;
    margin-top: 7px;
}

.webinarignition .statsDashbord p {
    font-size: 14px;
    margin-top: -3px;
    color: #b1b1b1;
}

.webinarignition .statsTitleIcon {
    float: left;
    width: 32px;
    padding-top: 16px;
    color: #FFF;
    text-align: center;
}

.webinarignition .statsTitleCopy {
    float: left;
    margin-left: 20px;
}

.webinarignition .statsDashBlock {
    float: left;
    padding-top: 25px;
    width: 220px;
    text-align: center;
}

.webinarignition .statsDashBlockNumber {
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.20);
    filter: dropshadow(color=rgba(0, 0, 0, 0.20), offx=2, offy=2);
}

.webinarignition .statsDashBlockTag {
    color: #21410c;
    font-size: 12px;
    font-weight: bold;
}

.webinarignition .dash-wrapper-left {
    /*width: 580px;*/
    /* float: left; */
    /*background-color: #DDD;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 17px;
    margin-top: 30px;
}

.webinarignition .dash-wrapper-right {
    width: 290px;
    min-height: 390px;
    float: left;
    background-color: #FFF;
    margin-top: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px dashed #DDD;
    /*border-bottom: 3px dashed rgba(0, 0, 0, .2);*/
}

.webinarignition .dash-webinar-info {
    padding: 25px;
    background-color: #79808A;
    border-bottom: 3px solid rgba(0, 0, 0, .2);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.41) !important;
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.41) !important;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.41) !important;
    /*background-image: url(../../../images/noise.png);*/
    background-image: url(../images/ticketbg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.webinarignition .dash-webinar-buttons {
    padding: 25px;
    /*padding-top: 0px;*/
    border-top: 3px solid rgba(0, 0, 0, .1);
}

.webinarignition .dash-preview-btns {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    text-align: left;
}

.webinarignition .infoLabel {
    font-weight: bold;
    font-size: 12px;
}


.webinarignition .dash-stat-block {
    width: 32%;
    background-color: #DDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, .2);
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
    max-height: 185px;
}

.webinarignition .dash-stat-block:hover {
    opacity: 0.9;
    color: #FFF;
}

.webinarignition .dash-stat-number {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFF;
}

.webinarignition .dash-stat-label {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}

.webinarignition .dash-stat-label a {
    background-color: #EC5929;
    display: inline-block;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 3px solid rgba(0, 0, 0, .2);
}

.webinarignition .dash-stat-label a:first-of-type {
    margin-bottom: 4px;
    background-color: #1CAC6C;
}

.webinarignition .dash-stat-label i {
    margin-right: 5px;
}

.webinarignition .dash-block-1 {
    background-color: #E65A2A;
    background-image: url(../images/livebg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.webinarignition .dash-block-2 {
    background-color: #2c7dcf;
    background-image: url(../images/leadbg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.webinarignition .dash-block-3 {
    background-color: #39424E;
    background-image: url(../images/questionbg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.webinarignition .dash-block-4 {
    background-color: #39424E;
    background-image: url(../images/questionbg2.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.webinarignition .dash-block-5 {
    background-color: #1CAC6C;
    background-image: url(../images/orderbg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.webinarignition .dash-block-6 {
    background-color: #F7B22F;
    background-image: url(../images/gbg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.webinarignition .footerArea {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 12px;
    color: #a7a7a7;
    /* border-top: 1px dashed #DDD; */
    padding-top: 20px;
    text-align: center;
    padding: 30px;
    background: #353437;
}

.webinarignition .footerArea p {
    margin-bottom: 0;
}

.webinarignition .cb-enable,
.webinarignition .cb-disable,
.webinarignition .cb-enable span,
.webinarignition .cb-disable span,
.webinarignition .email-qa-enable,
.webinarignition .email-qa-disable,
.webinarignition .email-qa-enable span,
.webinarignition .email-qa-disable span,
.webinarignition .email-qaMore-enable,
.webinarignition .email-qaMore-disable,
.webinarignition .email-qaMore-enable span,
.webinarignition .email-qaMore-disable span,
.webinarignition .qa-enable,
.webinarignition .qa-disable,
.webinarignition .qa-enable span,
.webinarignition .qa-disable span {
    background: url(../images/switch.gif) repeat-x;
    display: block;
    float: left;
}

.webinarignition .cb-enable span,
.webinarignition .cb-disable span,
.webinarignition .email-qa-enable span,
.webinarignition .email-qa-disable span,
.webinarignition .email-qaMore-enable span,
.webinarignition .email-qaMore-disable span,
.webinarignition .qa-enable span,
.webinarignition .qa-disable span {
    line-height: 30px;
    display: block;
    background-repeat: no-repeat;
    font-weight: bold;
}

.webinarignition .cb-enable span,
.webinarignition .email-qa-enable span,
.webinarignition .email-qaMore-enable span,
.webinarignition .qa-enable span {
    background-position: left -90px;
    padding: 0 10px;
}

.webinarignition .cb-disable span,
.webinarignition .email-qa-disable span,
.webinarignition .email-qaMore-disable span,
.webinarignition .qa-disable span {
    background-position: right -180px;
    padding: 0 10px;
}

.webinarignition .cb-disable.selected,
.webinarignition .email-qa-disable.selected,
.webinarignition .email-qaMore-disable.selected,
.webinarignition .qa-disable.selected {
    background-position: 0 -30px;
}

.webinarignition .cb-disable.selected span,
.webinarignition .email-qa-disable.selected span,
.webinarignition .email-qaMore-disable.selected span,
.webinarignition .qa-disable.selected span {
    background-position: right -210px;
    color: #fff;
}

.webinarignition .cb-enable.selected,
.webinarignition .email-qa-enable.selected,
.webinarignition .email-qaMore-enable.selected,
.webinarignition .qa-enable.selected {
    background-position: 0 -60px;
}

.webinarignition .cb-enable.selected span,
.webinarignition .email-qa-enable.selected span,
.webinarignition .email-qaMore-enable.selected span,
.webinarignition .qa-enable.selected span {
    background-position: left -150px;
    color: #fff;
}

.webinarignition .switch label {
    cursor: pointer;
}

.webinarignition .switch input {
    display: none;
}

.webinarignition .airSwitchLeft {
    float: left;
}

.webinarignition .airSwitch {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #DDD;
}

.webinarignition .airSwitchRight {
    float: right;
    padding-top: 5px;
}

.webinarignition .airSwitchTitle,
.webinarignition .inputTitleCopy {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.webinarignition .airSwitchInfo,
.webinarignition .inputTitleHelp {
    display: block;
    font-size: 12px;
    color: #6c6c6c;
    margin-top: 7px;
}

.webinarignition #air_btn_color {
    margin-top: 10px;
}

.webinarignition .airSwitchSaveArea {
    margin-top: 20px;
    margin-bottom: -20px;
}

.webinarignition .airSwitchFooterLeft {
    float: left;
}

.webinarignition .airSwitchFooterRight {
    float: right;
    padding-top: 10px;
}

.webinarignition .statsQuestionsTab {
    float: right;
}

.webinarignition .questionTabIt {
    float: left;
    padding: 20px;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
    /*border: 1px dashed rgba(255, 255, 255, .2);*/
    /*-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.41) !important;
    -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.41) !important;
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.41) !important;*/
    /*background-color: rgba(0, 0, 0, 0.3);*/
    /*color: #FFF;*/
    font-size: 14px;
    font-weight: bold;
    color: #BABABA;
    cursor: pointer;
}

.webinarignition .questionTabIt:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.3);
}

.webinarignition .questionTabIt i {
    margin-right: 5px;
}

.webinarignition .questionTabSelected,
.webinarignition .questionTabSelected:hover {
    background-color: #F8F8F8;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    color: #171717;
}

.webinarignition .questionMainTab {
    margin-top: -28px;
    /*background-color: #FFF;*/
    /*border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 25px;
}

.webinarignition .questionsBlock {
    border: 3px solid #eeeeee;
    background-color: #FFF;
}

.webinarignition .questionBlockWrapper:hover {
    background-color: #fafafa;
}

.webinarignition .questionBlockWrapper:nth-child(even) {
    background-color: #fafafa;
}

.webinarignition .questionBlockQuestion {
    float: left;
    width: 650px;
    padding: 20px;
    /*background-color: #FFF;*/
}

#answerFormContainer,
#answerMoreFormContainer {
    border: 3px solid #eeeeee;
    background-color: #FFF;
    margin-bottom: 25px;
    padding: 20px;
}

#answerForm,
#answerMoreForm {
    margin-bottom: 0 !important;
}

#answerForm h4,
#answerMoreForm h4,
.webinarignition .questionBlockQuestion .questionTimestamp {
    font-size: 22px !important;
}

.webinarignition .questionActions {
    float: right;
    background-color: #F0F0F0;
}

/* Answered questions */
.questionBlockWrapperDone {
    position: relative;
}

.questionBlockWrapperDone:after {
    display: table;
    content: ' ';
    clear: both;
}

.questionBlockWrapperDone .questionBlockByTitle {
    padding: 0 65px 0 0;
}

.questionBlockWrapperDone .questionBlockByTitle h3 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.6 !important;
    font-size: 19px !important;
}

.questionBlockWrapperDone .questionBlockByTitle p {
    margin-bottom: 5px !important;
    font-size: 14px !important;
}

.questionBlockWrapperDone .questionActions {
    float: none;
    position: absolute;
    right: 0;
    top: -3px;
}

.questionBlockWrapperDone .questionBlockContainer {
    padding: 15px;
}

.questionBlockWrapperDone .questionBlockQuestionText {
    background-color: #eee;
    padding: 8px;
    border-radius: 5px;
}

.questionBlockWrapperDone .questionBlockQuestionText p:last-child {
    margin-bottom: 0;
}

.questionBlockWrapperDone .questionBlockAnswers {
    margin-top: 15px;
    padding-left: 25px;
}

.questionBlockWrapperDone .questionBlockAnswer {
    margin-bottom: 15px;
}

.questionBlockWrapperDone .questionBlockAnswer:last-child {
    margin-bottom: 0;
}

.webinarignition .questionBlockIcons {
    float: left;
    padding: 12px;
    cursor: pointer;
    color: #373C44;
    /*width: 70px;*/
}

.webinarignition .questionBlockTitle {
    font-size: 14px !important;
    display: block;
    color: #5a5a5a;
    line-height: 1.2;
    margin-top: 5px;
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 7px;
}

.webinarignition .qbi-remove:hover {
    background-color: #91222c;
    color: #FFF;
}

.webinarignition .qbi-reply:hover {
    background-color: #205392;
    color: #FFF;
}

.webinarignition .qbi-answer:hover {
    background-color: #1e8247;
    color: #FFF;
}

.webinarignition .questionBlockWrapper:nth-child(n+2) {
    border-top: 2px solid #F2F2F2;
}

.webinarignition .questionBlockAuthor {
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #838383;
}

.webinarignition #leads {
    width: 100%;
}

.webinarignition .leadName {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.webinarignition .leadInfoSub {
    display: block;
    font-size: 12px;
    color: #a2a2a2;
    font-weight: bold;
}

.webinarignition .leadHead {
    padding: 15px;
    color: #272727;
}

.webinarignition .fbLead {
    margin-right: 5px;
    color: #5874A9;
}

.webinarignition #leads_filter input {
    height: 40px;
    line-height: 40px;
    background-repeat: no-repeat;
    background-position: 840px center;
    /*background-position: 180px -48px 0;*/
    background-image: url("../../../images/search-icon.png");
}

.webinarignition #leads_filter label {
    width: 100%;
}

.webinarignition #leads_info {
    float: left;
    margin-bottom: 0px;
    padding-top: 20px;
    color: #959595;
    font-size: 12px;
}

.webinarignition #leads_paginate {
    float: right;
    margin-bottom: 0px;
    margin-top: 10px;
}

.webinarignition #leads_next {
    margin-right: 0px;
}

.webinarignition #leads_length {
    display: none;
}

.webinarignition #leads_previous {
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    color: #333333;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    /*margin: 0 0 1.25em;*/
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
}

.webinarignition #leads_previous:hover {
    background-color: #f6f6f6;
}

.webinarignition #leads_next {
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    color: #333333;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    /*margin: 0 0 1.25em;*/
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    /*margin-right: 10px;*/
}

.webinarignition #leads_next:hover {
    background-color: #f6f6f6;
}

.webinarignition .paginate_disabled_previous {
    display: none !important;
}

.webinarignition .paginate_disabled_next {
    display: none !important;
}

.webinarignition .delete_lead {
    cursor: pointer;
    color: #8a8a8a;
}

.webinarignition .delete_lead2 {
    cursor: pointer;
    color: #8a8a8a;
}

.webinarignition .delete_lead:hover {
    color: #a14043;
}

.webinarignition .delete_highlight {
    background-color: #fff1b2;
}

.webinarignition .leadQuickStatBar {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px dashed #DDD;
    font-size: 14px;
    text-align: center;
}

.webinarignition .leadQuickStatBar .icon {
    margin-right: 5px;
}

.webinarignition .leadQuickStatBar i {
    /*font-weight: normal;*/
    /*color: #7f7f7f;*/
    font-style: normal;
}

.webinarignition .leadQuickStatBar b {
    border-bottom: 1px dashed #aeaeae;
}

.webinarignition .leadQuickStatBar b:hover {
    color: #5DA423;
}

.webinarignition .labelStat {
    padding-top: 10px;
    padding-bottom: 10px;
}

.webinarignition .label22 {
    margin-left: 5px;
    background-color: #363636 !important;
}

.webinarignition .labelQA {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .1);
    padding: 6px;
    margin-left: 5px;
    font-size: 10px;
}

.webinarignition .qa-lead-search {
    cursor: pointer;
}

.webinarignition .qa-lead-search:hover {
    background-color: #4f87a9;
    color: #FFF;
}

.webinarignition .qa-lead-search i {
    margin-right: 5px;
    margin-bottom: -3px;
}



.webinarignition .convertSpan {
    /*color: #FFF !important;*/
    background-color: #ececec !important;
}

.webinarignition .dashFunnelConvert {
    /*text-align: center;*/
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: -5px;
}


.webinarignition .airExtraOptions {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #DDD;
}

.webinarignition .leadStatBlock {
    margin-top: 20px;
}

.webinarignition .leadStat {
    float: left;
    width: 33%;
    color: #FFF;
}

.webinarignition .leadStat1 {
    background-color: #91BED3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.webinarignition .leadStat2 {
    background-color: #375D74;
}

.webinarignition .leadStat3 {
    background-color: #19303E;
}

.webinarignition .leadStat4 {
    background-color: #21272d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.webinarignition .leadStatTop {
    padding: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.webinarignition .leadStatLabel {
    background-color: rgba(0, 0, 0, 0.30);
    color: rgba(255, 255, 255, 0.70);
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.webinarignition .importCSVArea {
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px;
    background-color: #E9E9E9;
    border: 1px dashed #aeaeae;
}

.webinarignition .importCSVArea textarea {
    height: 150px;
}

.webinarignition .importCSVArea h2 {
    font-size: 18px;
}

.webinarignition .importCSVArea h4 {
    font-size: 14px;
    font-weight: normal;
}

body#webinarignition_console {
    background-color: #F7F7F7;
}

.webinarignition .questionOnHold {

    color: #3CB371;
    font-weight: bold;

}

#dashboardTab ul.webinarStatus {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 8px;

}

#dashboardTab ul.webinarStatus li {
    float: left;
}

#dashboardTab ul.webinarStatus li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

#dashboardTab ul.webinarStatus li a.webinarStatusSelected {
    background-color: #e44d1b;
}


#dashboardTab ul.webinarStatus li a:hover {

    background-color: #e44d1b;

}

.AlignmentRadiosForLiveWebinarCTAs, .PositionRadiosForLiveWebinarCTAs {
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;

}

.live_webinar_ctas_alignment_radios, .live_webinar_ctas_position_radios {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
}

.live_webinar_ctas_alignment_label, .live_webinar_ctas_position_label {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 12px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
}

.live_webinar_ctas_alignment_radios:checked+.live_webinar_ctas_alignment_label {
    background-color: #e64f1d;
    color: #fff;
}

.live_webinar_ctas_position_radios:checked+.live_webinar_ctas_position_label {
    background-color: #e64f1d;
    color: #fff;
}



.wi-notification-overlay {
    z-index: 9998;
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    opacity: 0.2;
}

.wi-notification-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wi-notification-box {
    position: fixed;
    top: 5%;
    right: 50%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    transform: translate(50%, -50%);
    width: 97%;
    max-width: 97%;
    border-radius: 5px;
}

#wi-notification-message {
    margin-right: 10px;
    font-weight: bold;
}

#wi-close-notification {
    background-color: #457a1a;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.wi-hidden {
    display: none !important;
}

/* ======================================= */
/* Webinar live console responsive styles
/* ======================================= */
@media (max-width: 430px) {
    .statsTitle.statsTitle-Dassh>* {
        float: none;
        text-align: center;
        width: auto;
    }

    .activeQuestionsHeadline>.button {
        display: block;
        width: 80%;
        margin: 20px auto;
    }

    .webinarignition .dash-stat-block {
        width: 100%;
    }

    .webinarignition .dash-stat-block {
        width: 100%;
    }

    .webinarignition .statsQuestionsTab {
        float: none;
        margin-top: 0 !important;
    }

    .webinarignition .questionTabSelected,
    .webinarignition .questionTabSelected:hover {
        border: 1px solid #DDD;
    }

    .webinarignition .airSwitchRight {
        float: none;
        margin: 15px 0 0 0;
    }

    .webinarignition .airSwitchLeft {
        float: none;
    }

    .webinarignition .questionTabIt {
        padding: 5px;
    }

    .statsTitle.statsTitle-Lead>div {
        float: none;
        display: block;
        margin-left: 20px;
        margin-bottom: 5px;
    }

    .webinarignition .statsDashbord h2 {
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .webinarignition .statsTitleIcon {
        margin-left: 20px;
    }

    .webinarignition .innerContainer {
        padding-left: 15px;
        padding-right: 15px;
    }
}