.mainWrapper{
	padding: 40px 0;
	min-height: 600px;
}

.webinarBlock{
}

.webinarBlockRight{

}

.webinarVideo{
	background-color: #212121;
	/*padding: 20px;*/
	/*-webkit-border-radius: 6px;*/
	/*-moz-border-radius: 6px;*/
	/*border-radius: 6px;*/
	/*-webkit-box-shadow: 0 1px 11px 1px rgba(0,0,0,0.25);*/
	/*-moz-box-shadow: 0 1px 11px 1px rgba(0,0,0,0.25);*/
	/*box-shadow: 0 1px 11px 1px rgba(0,0,0,0.25);*/
	background-image: url(../images/noise.png);
}

.wi_position_relative{
	position: relative;
}

.webinarVideo .ctaArea{
	/*border: 2px solid rgba(0,0,0,0.13);*/
	/*-webkit-box-shadow: 0 1px 11px 1px rgba(0,0,0,0.35);*/
	/*-moz-box-shadow: 0 1px 11px 1px rgba(0,0,0,0.35);*/
	/*box-shadow: 0 1px 11px 1px rgba(0,0,0,0.35);*/
	margin-left: 0px;
}

.webinarInfo{
	/*margin-top: 28px;*/
	background-color: #FFF;
	/*margin-left: 20px;*/
	padding: 20px;
	padding-bottom: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
}

.webinarQA{
	background-color: #FFF;
	/*margin-left: 20px;*/
	margin-top: 20px;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
}

.webinarQA2{
	background-color: #FFF;
	/*margin-left: 20px;*/
	margin-top: 20px;
	width: 620px;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
}

.webinarTopBar{
	margin: -20px;
	margin-bottom: 15px;
	padding: 15px;

	background-color: #242424;
/*	background-image: -webkit-gradient(linear, center top, center bottom, from(#333), to(#262626));
	background-image: -webkit-linear-gradient(top, #333, #262626);
	background-image: -moz-linear-gradient(top, #333, #262626);
	background-image: -o-linear-gradient(top, #333, #262626);
	background-image: -ms-linear-gradient(top, #333, #262626);
	background-image: linear-gradient(to bottom, #333, #262626);*/

	color: #FFF;
	font-weight: bold;

	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;

	text-shadow: 2px 2px 0px rgba(0,0,0,0.20);
    filter: dropshadow(color=rgba(0,0,0,0.20), offx=2, offy=2);

}

.webinarTopBar i{
	margin-right: 10px;
}

.webinarInner{
	margin-top: -15px;
	margin-left: -20px;
	margin-right: -20px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-top: 3px solid rgba(0,0,0,0.06);
}

.webinarQACopy{
	line-height: 18px;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
}

.webinarTopArea{
	margin: 20px 0;

	margin-left: 5px;
}

.webinarBottomArea{
	margin-bottom: 20px;
	margin-top: 25px;
	width: 960px;
	margin-left: 5px;
}

.webinarSound{
	float: left;
	font-weight: bold;
	font-size: 14px;
}

.webinarSound i{
	margin-right: 10px;
}

.webinarShare{
	float: right;
}

.webinarShareIcons{
	float: right;
	margin-top: -2px;
}

.webinarShareCopy{
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-right: 15px;
}

.webinarShare i{
	margin-right: 10px;
}

.webinarTitleBar{
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
	background-color: rgba(0,0,0,0.02);
	border-bottom: 1px solid rgba(0,0,0,0.05);
	/*border-top: 1px solid rgba(0,0,0,0.10);*/
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.webinarTitleBarAdded{
	border-top: 1px solid rgba(0,0,0,0.05);
}

.webinarTitleBar i{
	margin-right: 10px;
}

.webinarInfoCopy{
	font-size: 12px;
	line-height: 21px;
	color: #4a4a4a;
	margin-bottom: 15px;
}

.webinarLive{
	color: #498A00;
}

.webinarLive i{
	margin-left: 10px;
}

#closed {
    text-align: center;
}

.webinarExtraBlock{
	background-color: #FFF;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
}

.webinarExtraBlock2{
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
}

.webinarExtraBlock3{
	background-color: #FFF;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
}

.webinarExtireTop{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	/*padding-top: 5px;
	padding-bottom: 5px;*/
	/*background-color: #333333;*/
	color: #FFF;
	font-weight: bold;
	margin-bottom: 10px;
	/*margin-top: -40px;*/
	/*text-shadow: 2px 2px 0px rgba(0,0,0,0.20);
    filter: dropshadow(color=rgba(0,0,0,0.20), offx=2, offy=2);*/
    font-size: 18px;
    /*border: 3px solid rgba(0,0,0,0.10);*/
    /*border-bottom: 1px dashed rgba(0,0,0,0.10);*/
  /*  -webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;*/
	/*-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);*/
}

.webinarReplayExpireCopy{
	/*float: left;*/
	font-size: 27px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: center;
        padding-top:20px;
}

.webinarReplayExpireCopy span{
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	/*background-color: #8e1113;*/
	/*background-color: rgba(0,0,0,0.15);*/
	/*border: 2px solid rgba(0,0,0,0.10);*/
	text-shadow: 2px 2px 0px rgba(0,0,0,0.20);
    filter: dropshadow(color=rgba(0,0,0,0.20), offx=2, offy=2);
	/*padding: 15px;*/
	padding-left: 20px;
	padding-right: 20px;
	color: #FFF;
	/*border: 2px solid rgba(0,0,0,0.1) !important;
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(28,28,28,0.05)), to(rgba(0,0,0,0.05)));
	background-image: -webkit-linear-gradient(top, rgba(28,28,28,0.05), rgba(0,0,0,0.05));
	background-image: -moz-linear-gradient(top, rgba(28,28,28,0.05), rgba(0,0,0,0.05));
	background-image: -o-linear-gradient(top, rgba(28,28,28,0.05), rgba(0,0,0,0.05));
	background-image: -ms-linear-gradient(top, rgba(28,28,28,0.05), rgba(0,0,0,0.05));
	background-image: linear-gradient(to bottom, rgba(28,28,28,0.05), rgba(0,0,0,0.05));
	-webkit-box-shadow: 0 1px 5px rgba(20,20,20,0.31), inset 0 0 1px 2px rgba(255,255,255,0.16);
	-moz-box-shadow: 0 1px 5px rgba(20,20,20,0.31), inset 0 0 1px 2px rgba(255,255,255,0.16);
	box-shadow: 0 1px 5px rgba(20,20,20,0.31), inset 0 0 1px 2px rgba(255,255,255,0.16);*/
}

.webinarReplayExpireCD{
	/*float: left;*/
	width: 960px;
}

.replayOrder{
	width: 100%;
	/*margin-top: 20px;*/
	text-shadow: 2px 2px 0px rgba(0,0,0,0.20);
    filter: dropshadow(color=rgba(0,0,0,0.20), offx=2, offy=2);
}

.timedUnderArea{
	background-color: #FFF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*-webkit-box-shadow: 0 1px 11px 1px rgba(0,0,0,0.25);*/
	/*-moz-box-shadow: 0 1px 11px 1px rgba(0,0,0,0.25);*/
	/*box-shadow: 0 1px 11px 1px rgba(0,0,0,0.25);*/
	padding: 15px;
	/*margin-top: 15px;*/
	/*border: 3px solid rgba(0,0,0,0.10);*/
	border: 3px solid #212121;
	/* text-align: center; */
	margin: 7px;
	position: absolute;
}

.webinarVideo .timedUnderArea {
	padding: 15px;
}

.timedUnderArea.active {
	position: relative;
}
.timedUnderArea:after{
	display: block;
	content: ' ';
	position: absolute;
	bottom: -3px;
	left: -10px;
	right: -10px;
	height: 7px;
	background-color:#212121;
	transform: translateY(100%);
}

#vidBox{
	display: block !important;
	position: relative !important;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

#vidBox iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}



#video-loading-overlay, #muted-overlay, #mobile-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 90;
	top:0;
}

#video-loading-overlay {
	background: white;
}

#mobile-overlay {
	background: rgba(0, 0, 0, 1);
}

#video-loading-content-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 150px;
	z-index: 110;
	/*background-color: rgba(255, 255, 255, .9);*/
	border-radius: 10px;
}

#mobile-overlay-replay {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 1);
	z-index: 90;
}

#unmute-button {
	position: absolute;
	right: 20px;
	top: 20px;
	height: 45px;
	width: 160px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
	color: white;
	background-color: rgba(0, 0, 0, .7);
	/* font-size: .5em; */
	z-index: 100;
	cursor: pointer;
	border-radius: 50px;
	padding: 0 10px;
}

#unmute-icon {
	height: 25px;
	width: 25px;
}

#loading-video-text, #mobile-play-button {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 100;
	cursor: pointer;
}

#mobile-play-button-text {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 150px;
	margin: auto;
	z-index: 200;
	color: white;
	width: 20%;
	height: 30px;
	text-align: center;
	font-size: 1.3em;
}

#vidOvl {
	position:absolute;
	display:inline-block;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0);
	z-index: 99;
}

#vidBox.vidBoxjs {
	width: 100%;
	height: 100% !important;
	padding-bottom: 0;
}

@media (max-width: 767px) {

	#vidOvl {
		/* disable video overlay else mobile users cannot click the play button to start video */
		display: none;
	}
	#vidBox, #vidOvlSpc{
		width: 100%;
		/*height: 100% !important;*/
		height: 0;
	}

	#vidBox iframe , .autoReplay-dimensions{
		width: 100% !important;
	}

	#vidBox.vidBoxjs {
		padding-bottom: 0;
	}

	#mobile-play-button {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 0;
		right: 0;
		top: 50px;
		bottom: 0;
		margin: auto;
		z-index: 100;
	}

	#mobile-play-button-text {
		position: absolute;
		left: 0;
		right: 0;
		top: 75px;
		/*bottom: 50px;*/
		margin: auto;
		z-index: 200;
		color: white;
		width: 20%;
		height: 30px;
		text-align: center;
		font-size: .9em;
	}
}

.zoom-window-wrap #vczapi-zoom-browser-meeting--container .vczapi-zoom-browser-meeting--info {
	display: none;
}

div#simple-ajax-chat{width:100%;overflow:hidden;margin:0 0 20px 0;}
div#sac-content{display:none;}
div#sac-output{float:left;width:58%;height:300px;overflow:auto;border:1px solid #d1d1d1;}
div#sac-output.sac-reg-req{float:none;width:100%;height:auto;border:0;}
div#sac-latest-message{padding:5px 10px;font-size:14px;background-color:#d1d1d1;text-shadow:1px 1px 1px rgba(255,255,255,0.5);}
ul#sac-messages{margin:10px 0;padding:0;font-size:14px;line-height:20px;}
ul#sac-messages li{margin:0;padding:4px 10px;}
ul#sac-messages li span{font-weight:bold;}
div#sac-panel{float:right;width:38%;}
form#sac-form fieldset{margin:0 0 5px 0;padding:0;border:0;}
form#sac-form fieldset label,form#sac-form fieldset input,form#sac-form fieldset textarea{float:left;clear:both;width:94%;margin:0 0 2px 0;font-size:14px;}
form#sac-form fieldset textarea{height:53px;}
.tooltip{border:0;text-shadow:none;}
.wi-tab-content #simple-ajax-chat #sac-output {
float: none;
width: 100%;
margin-bottom: 15px;
}
.wi-tab-content #simple-ajax-chat #sac-panel {
float: none;
width: 100%;
}

.countdown_page {
    padding-bottom: 80px;
}

#autoReplay > div.vjs-control-bar {
	z-index:101;
}
.timedUnderAreaOverlay.wi-cta-tab {
	z-index:100;
}